@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">sELAMLAR cORE KAMPI BAŞLADI</h1>
    <p>dERS 3 Kodlara Başladık <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
